@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

@keyframes flash-input {
  from { background: #D2EEF7 }
  to { background: #FFF }
}

body, * {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: auto;
  font-family: 'Lato';
  text-align: center;
  padding: 16px 0;
}

p {
  margin: 16px auto;
  line-height: 1.5em;
}

a {
  font-weight: bold;
  color: #20AFEA;
}

.top-header, footer {
  padding: 20px;
  font-size: 40px;
  vertical-align: top;
  text-align: center;
  color: #333;
  background: #f0f0f8;
}

.top-header span {
  font-weight: bold;
  line-height: 90px;
  color: rgba(255, 255, 255, 0.25);
}

.top-header img {
  height: 80px;
  margin: 10px 20px;
  display: inline-block;
  vertical-align: top;
}

.main-body-container {
  margin: 0 auto;
  max-width: 768px;
  padding: 16px;
}

ul {
  font-family: 'Monaco', 'Courier New';
}

ul li {
  font-size: 16px;
  padding: 8px;
  font-weight: bold;
}

[name="sample"] {
  padding: 16px 24px;
  position: relative;
  margin: auto;
  overflow: auto;
}

[name="sample"].main {
  background: #EEE;
  border-radius: 2px;
}

[name="sample"]:after {
  content: '';
  height: 1px;
  display: block;
  clear: both;
}

.example-title {
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid #20AFEA;
  margin-bottom: 10px;
  color: #666;
}

.sample-title {
  font-size: 18px;
  color: #777;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

[name="sample"] .input, [name="sample"] .output {
  float: left;
  width: 50%;
  max-width: 50%;
  resize: none;
}



[name="sample"] .center {
  text-align: center;
  position: absolute;
  right: calc(50% + 10px);
  bottom: 28px;
}

[name="sample"] textarea {
  display: block;
  font-family: 'Monaco', 'Courier New';
  margin: 0px;
  border: 1px solid #EEE;
  padding: 16px;
  height: 250px;
  width: 100%;
  max-width:100%;
  font-size: 12px;
  outline: none;
  transition: border 150ms ease;
  resize: none;
}

[name="sample"] textarea:focus,
[name="output"].success {
  border: 1px solid #20AFEA;
}

[name="output"].success {
  animation: 0.5s flash-input;
}


[name="sample"] button {
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  background: #20AFEA;
  color: #FFF;
  border: 1px solid #1E88E5;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background 150ms ease, opacity 150ms ease;
}

[name="sample"] button:hover {
  background: #30BFFA;
  opacity: 1;
}

[name="sample"] button:focus {
  outline: none;
}

[name="sample"] button:active {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: #109FDA;
}
