<head>
  <title>Nodal – GraphQL Playground</title>

  <link rel="icon" type="image/png" href="/static/images/nodal.png">

  <link rel="stylesheet" href="/static/style/base.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <meta name="description" content="Play with GraphQL using Nodal and PostgreSQL.">

  <meta property="og:site_name" content="Nodal – GraphQL Playground">
  <meta property="og:title" content="Nodal – GraphQL Playground">
  <meta property="og:url" content="http://graphql.nodaljs.com/">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Play with GraphQL using Nodal and PostgreSQL.">
  <meta property="og:image" content="http://graphql.nodaljs.com/static/images/nodal_graphql.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@keithwhor">
  <meta name="twitter:title" content="Nodal – GraphQL Playground">
  <meta name="twitter:description" content="Play with GraphQL using Nodal and PostgreSQL.">
  <meta name="twitter:image" content="http://graphql.nodaljs.com/static/images/nodal_graphql.png">

</head>
